{% extends 'common.html' %}
{% block main %}
{% for article in articles %}
<div class="post">
  <div class="right">
    <h2>
      <a href="#">{{ article.title }}</a>
    </h2>
    <p class="post-info">
      位于分类 <a href="#">{{ article.category.name }}</a>
    </p>
    <p>
    {{ article.content|safe }}
    </p>
    <p>
      <a class="more" href="/blog/{{ article.id }}">阅读整片文章 &raquo;</a>
    </p>
  </div>
  <div class="left">
    <p class="dateinfo">
      {{ article.create_time|dateformat|safe }}
    </p>
    <div class="post-meta">
      <h4>文章信息</h4>
      <ul>
        <li class="user">{{ article.author.name }}</li>
        <li class="time">{{ article.create_time|timeformat|safe }}</li>
        <li class="comment"><a href="#">{{ article.messages.length }}个评论</a></li>
        <li class="permalink"><a href="/blog/{{ article.id }}">文章链接</a></li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}